body {
  background-image: linear-gradient(#615dad, #ffc8da);
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 50px;
  padding-bottom: 200px;
  display: flex;
  justify-content: center;
  background-repeat: no-repeat;
}

/* background-size: cover; - tip od Danči*/

.hra {
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 6px 25px 0 rgba(0, 0, 0, 0.19);
}

.uvodni-fotka {
  width: 380px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.modry {
  background: #283e50;
  color: white;
  height: 330px;
  width: 380px;
}

h1 {
  text-align: center;
  font-family: 'Lobster';
  font-size: 55px;
  font-weight: lighter;
  padding: 40px;
  padding-bottom: 15px;
  margin: 0;
}

.popisHry {
  text-align: center;
  padding: 20px;
  margin: 0;
  line-height: 1.5;
}

/* ---------tlačítka----------- */

.pravidla a {
  display: block;
  background: #1fcca4;
  color: white;
  text-decoration: none;
  padding: 18px 161px;
  border-bottom: 1px solid #283e50;
}

.zacit-hrat a {
  display: block;
  background: #0197f6;
  color: white;
  text-decoration: none;
  padding: 18px 156px;
}

.pravidla a:hover {
  background-color: #1cbb96;
  color: white;
}

.zacit-hrat a:hover {
  background-color: #0090e9;
  color: white;
}

/* --------------PRAVIDLA  úkol č. 2 ---------------------------------- */

.circle,
.cross {
  filter: invert(100%);
}

.rules {
  background: #283e50;
  color: white;
  display: flex;
  flex-direction: column;
  width: 380px;
  padding: 20px;
  margin: 0;
  line-height: 1.5;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.pravidlaSign {
  padding-top: 10px;
}

.popisKPskv {
  background: #283e50;
  color: white;
  font-style: italic;
  width: 380px;
  margin: 0;
  line-height: 1.5;
}

.piskvorkyTahy {
  width: 288px;
  margin-left: 30px;
  margin-bottom: 8px;
}
