body {
  background-image: linear-gradient(#615dad, #ffc8da);
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 50px;
  padding-bottom: 200px;
  display: flex;
  justify-content: center;
  background-repeat: no-repeat;
}

/* Proč po smazání justify content je to stále uprostřed? */

/* background-size: cover; - tip od Danči*/

.hra {
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 6px 25px 0 rgba(0, 0, 0, 0.19);
}

.modry {
  background: #283e50;
  color: white;
  height: 330px;
  width: 380px;
}

h1 {
  text-align: center;
  font-family: 'Lobster';
  font-size: 55px;
  font-weight: lighter;
  padding: 40px;
  padding-bottom: 15px;
  margin: 0;
}

p {
  text-align: center;
  padding: 20px;
  margin: 0;
  line-height: 1.5;
}

.uvodni-fotka {
  width: 380px;
  display: inline-block;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

/* tlačítka */

li {
  display: inline-block;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15),
    0 6px 25px 0 rgba(223, 177, 234, 0.19);
}

/* ?? Kdybych tam dala display flex?
 */

.pravidla a {
  background: #1fcca4;
  color: white;
  text-decoration: none;
  display: flex;
  padding: 18px 161px;
  border-bottom: 1px solid #283e50;
}

.zacit-hrat a {
  background: #0197f6;
  color: white;
  text-decoration: none;
  display: flex;
  padding: 18px 156px;
}

a {
  color: white;
  text-decoration: none;
}

.pravidla a:hover {
  background-color: #1cbb96;
  color: white;
}

.zacit-hrat a:hover {
  background-color: #0090e9;
  color: white;
}

ul {
  padding-left: 0;
}
