html {
  min-height: 100%;
}

body {
  background-image: linear-gradient(#615dad, #ffc8da);
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 10px;
  padding-bottom: 70px;
  display: flex;
  justify-content: center;
  background-repeat: no-repeat;
}

/* --------------- Úvodní stránka ------------------ */
.hra,
.pravidla-modry {
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15), 0 6px 25px 0 rgba(0, 0, 0, 0.19);
}

.uvodni-fotka {
  width: 380px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

.modry-kontejner {
  background: #283e50;
  color: white;
  height: 330px;
  width: 380px;
}

h1 {
  text-align: center;
  font-family: 'Lobster';
  font-size: 55px;
  font-weight: lighter;
  padding: 40px;
  padding-bottom: 15px;
  margin: 0;
  color: white;
}

.popis-hry {
  text-align: center;
  padding: 20px;
  margin: 0;
  line-height: 1.5;
}

/* ---------tlačítka----------- */

.zelene-tlacitko a {
  display: block;
  background: #1fcca4;
  color: white;
  text-decoration: none;
  padding-top: 18px;
  padding-bottom: 18px;
  text-align: center;
  border-bottom: 1px solid #283e50;
}

.zelene-tlacitko a:hover {
  background-color: #1cbb96;
}

.modre-tlacitko a {
  display: block;
  background: #0197f6;
  color: white;
  text-decoration: none;
  padding-top: 18px;
  padding-bottom: 18px;
  text-align: center;
}

.modre-tlacitko a:hover {
  background-color: #0090e9;
}

/* --------------PRAVIDLA  úkol č. 2 ---------------------------------- */

.kolecko,
.krizek {
  filter: invert(100%);
  height: 1em;
  width: 1em;
  vertical-align: -0.1em;
}

.pravidla-seznam {
  background: #283e50;
  color: white;
  display: flex;
  flex-direction: column;
  width: 380px;
  margin: 0;
  margin-bottom: -16px;
  padding: 0;
  line-height: 1.3;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}

li {
  margin: 7px 42px 7px 82px;
}

.posledni-pravidlo {
  padding-bottom: 25px;
}

.piskvorky-tahy {
  width: 288px;
  margin-top: 20px;
}

.posledni-popisek {
  padding-bottom: 45px;
  margin-top: 0;
  margin-bottom: -16px;
}

.piskvorky-ukazka {
  background: #283e50;
  color: white;
  font-style: italic;
  line-height: 1.3;
  text-align: center;
  width: 380px;
}

/* ----------- responzivita Iphone SE -------------- */

@media (max-width: 414px) {
  .hra,
  .uvodni-fotka,
  .modry-kontejner,
  .pravidla-seznam,
  .piskvorky-ukazka {
    width: 300px;
  }

  .zelene-tlacitko,
  .modre-tlacitko {
    width: 300px;
  }

  .modry-kontejner {
    padding-bottom: 40px;
  }

  .piskvorky-tahy {
    width: 250px;
  }

  figure {
    margin: 10px 15px;
  }

  li {
    margin-left: 42px;
    margin-right: 22px;
  }

  a {
    text-align: center;
  }
}

/* ----------- responzivita Ipad a web -------------- */

@media (min-width: 650px) {
  .piskvorky-ukazka {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  figure {
    margin: 5px 0;
  }

  figcaption {
    width: 300px;
    font-size: 15px;
  }

  .pravidla-modry,
  .pravidla-seznam,
  .piskvorky-ukazka {
    width: 640px;
  }

  a {
    text-align: center;
  }
}

/* --------------- 3. úkol - Hra ----------------- */

.kontejner-hra {
  max-width: 80vmin;
}

.hraje {
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 23px;
}

.domecek {
  background: #1fcca4;
  padding: 8px;
  border-radius: 4px;
}

.domecek:hover {
  background-color: #1cbb96;
}

.restart {
  background: #0197f6;
  padding: 8px;
  border-radius: 4px;
}

.restart:hover {
  background-color: #0090e9;
}

.hraje-a-tlacitka {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
